@page {
    size: 21cm 29.7cm;
    margin: 30mm 45mm 30mm 45mm; /* change the margins as you want them to be. */
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2em;
    line-height: 1.3em;
    margin: 0 auto;
    color: grey;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

h2 {
    font-size: 1.3em;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

div.content {
    margin: 0cm;
    width: 80%;
    min-height: 100%;
    float: center;
    border-style: solid;
    border-width: 0.5px;
    border-color: #f8f8f8;
    background-color: white;
    position: relative;
}

h1 {
    align: center;
}

p {
    font-weight: lighter;
    padding: 0.2cm;
}

ul {
    list-style-type: square;
    line-height: 1.4em;
    font-weight: lighter;
}

table {
    line-height: 1.2em;
    align: center;
}

th {
    font-size: 0.5em;
    text-align: left;
    font-weight: lighter;
}

td.tick {
    font-size: 0.8em;
    line-height: 1.2em;
    text-align: center;
}

td {
    font-size: 0.8em;
    line-height: 1.2em;
    text-align: left;
}


